### BASIC INPUT OUTPUT

In [1]:
print("hello",end="--") #end parameter Is used to specify what appears at the end of line
print("hi")
print("world")

hello--hi
world

In [2]:
print("hello") #end parameter Is used to specify what appears at the end of line
print("hi")
print("world")

hello
hi
world

In [3]:
print("hello","hi","world",sep="---")  #sep:it is used to specify what appears between multiple statements in print statement

hello---hi---world

In [23]:
print("hello",123,34,"world")

hello 123 34 world

In [25]:
#VARIABLES AND CONSTANTS 
abc=123 #name given to a memeory location that stores the value
print(abc)

123

In [ ]:
#comments 
#single line comment
# multiline comments

In [27]:
#addition of two numbers
""" this is
multi line comments"""

' this is\nmulti line comments'

In [29]:
#VARIABLE:
variable_name="hello world"
#pascal casing
#snake casing
# caming casing

In [31]:
myFirstVariable=23 #Camel Case
MyFirstVariable=45 #Pascal Case
my_first_variable=24 #Snake Case
print(myFirstVariable)
print(MyFirstVariable)
print(my_first_variable)

23
45
24

In [1]:
name='hello world"s'
name

'hello world"s'

In [41]:
a=23
b=45
print("value of a before swapping is : ",a)
print("value of b before swapping is : ",b)
c=a #using third variable
a=b
b=c
print("value of a After swapping is : ",a)
print("value of b After swapping is : ",b)

value of a before swapping is :  23
value of b before swapping is :  45
value of a After swapping is :  45
value of b After swapping is :  23

In [47]:
#swap two numbers without using third variable
a=10
b=20
print("value of a before swapping is : ",a)
print("value of b before swapping is : ",b)
a=a+b #10+20=30
b=a-b #30-20=10 
a=a-b #30-10=20
print()
print("value of a After swapping is : ",a)
print("value of b After swapping is : ",b)

value of a before swapping is :  10
value of b before swapping is :  20

value of a After swapping is :  20
value of b After swapping is :  10

In [49]:
a=10
b=20
print(id(a))
print(id(b))

140721279806168
140721279806488

In [51]:
#swap two numbers without using third variable
a=10
b=20
print("value of a before swapping is : ",a)
print("value of b before swapping is : ",b)
a=a*b #10*20=200   
b=a/b # 200/20=10
a=a/b #200/10=20
print()
print("value of a After swapping is : ",a)
print("value of b After swapping is : ",b)

value of a before swapping is :  10
value of b before swapping is :  20

value of a After swapping is :  20.0
value of b After swapping is :  10.0

In [57]:
#INPUT 
num1 = input("Enter first number")
num2 = input("Enter Second number")
print(num1)
print(num2)

Enter first number 23
Enter Second number 45

23
45

## INPUT: Input function is used to take input from user using the keyboard

In [66]:
#INPUT  
num1 = input("Enter your first name : ")
num2 = input("Enter your last name : ")
print(num1,num2)

Enter your first name :  hi
Enter your last name :  hello

hi hello

In [ ]:
num1 = input("Enter your first number : ")  
num2 = input("Enter your second number : ")
print(num1,num2)
result=num1+num2
print(result)

In [70]:
num1 = input("Enter your first number : ") #33
num1_int=int(num1)
num2 = input("Enter your first number : ") #44
num2_int=int(num2)
result=num1_int+num2_int
print(result)

Enter your first number :  33
Enter your first number :  44

77

In [72]:
num1 = input("Enter your first number : ")  
num2= input("Enter your second number : ")
print(num1,num2)
result=num1+num2
print(result)

Enter your first number :  33
Enter your second number :  33

33 33
3333

In [74]:
num1 = input("Enter your first number : ")  
num2 = input("Enter your second number : ")
print(num1,num2)
result=num1+num2
print(result)

Enter your first number :  22
Enter your second number :  22

22 22
2222

In [76]:
print(1234)

1234

## Rules for Python variables:

- A variable name must start with a letter or the underscore character
- A variable name cannot start with a number
- A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
- Variable names are case-sensitive (age, Age and AGE are three different variables)
- A variable name cannot be any of the Python keywords.

In [2]:
a=23
b=34
print(a+b)

57

In [7]:
name = "abcd"
print(name)

abcd

In [12]:
a=20
b=10
print("value of a before swapping",a)
print("value of b before swapping",b)
a=a+b   #20+10=30
b=a-b #30-10
a=a-b #30-20
print("value of a after swapping",a)
print("value of b after swapping",b)

value of a before swapping 20
value of b before swapping 10
value of a after swapping 10
value of b after swapping 20

In [18]:
a=35
b=45
c=a+b
print("sum of two that is",a,"and",b,"is",c)
print("sum of two numbers that is {} and {} is ".format(a,b),c)   #string formatting
print(f"sum of two numbers that is {a} and {b} is {c}")

sum of two that is 35 and 45 is 80
sum of two numbers that is 35 and 45 is  80
sum of two numbers that is 35 and 45 is 80

In [18]:
price = 499.99
print("The total price is: ${:.2f}".format(price))

The total price is: $499.99

In [30]:
a="Saqib"
b=20
c="male"
print("the name of a person is ",a,"the age of a person is ",b,"and gender of a person is ",c)
print("the name of a person is {} and the age of a person is {} and gender is {}".format(a,b,c))
print(f"the name of a person is {a} and the age of a person is {b} and gender is {c}")

the name of a person is  Saqib the age of a person is  20 and gender of a person is  male
the name of a person is Saqib and the age of a person is 20 and gender is male
the name of a person is Saqib and the age of a person is 20 and gender is male

In [34]:
a=int(input("Enter first number : "))
b=int(input("Enter second number :" ))
c=a+b
print("sum of two that is",a,"and",b,"is",c)
print("sum of two numbers that is {} and {} is ".format(a,b),c)   #string formatting
print(f"sum of two numbers that is {a} and {b} is {c}")

Enter first number :  44
Enter second number : 55

sum of two that is 44 and 55 is 99
sum of two numbers that is 44 and 55 is  99
sum of two numbers that is 44 and 55 is 99

In [5]:
price=99
print(f"the total price is {price}")

the total price is 99