# CLASS AND OBJECTS
- class is an object contructor,or blueprint of creating an object.
- Class name always starts with capital letter
- we follow camel casing in writing class name.for example ,instead of writing new_employee, we write NewEmployee (Capital letter of each word)

In [6]:
class Sample:     #creating class
    x=5

In [8]:
# creating object
obj=Sample()
print(obj.x)

5

# The __init__() Function
- All classes have a function called __init__(), which is always executed when the class is being initiated.
- Use the __init__() function to assign values to object properties, or other operations that are necessary to do when the object is being created:
- helps yoou provide data to class atribute
- In Python, __init__ is a special method known as the constructor. It is automatically called when a new instance (object) of a class is created.

In [37]:
class Person:
  def __init__(self, name, age):   #reference of the object e.g p1 will be passed to self,p2 will be passed to self and so on.
    self.name = name                # self indicates which objects
    self.age = age

p1 = Person("John", 36)

print(p1.name)
print(p1.age)

John
36

In [18]:
p2=Person(input("enter name"),int(input('enter age')))
print(p2.name)
print(p2.age)

enter name Liyakat
enter age 26

Liyakat
26

In [23]:
type(p2)  #this object belongs to person class

__main__.Person

In [25]:
p2.age

26

In [31]:
p2.name

'Liyakat'

#### self parameter, if we have many objects, then details of which objects are first name, last name .that is why we use self

In [41]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def myfunc(self):
    print("Hello my name is " + self.name)

p1 = Person("Liyakat", 26)
p1.myfunc()

Hello my name is Liyakat

In [83]:
class Employee:
    def __init__(self):
        self.fname=None
        self.lname=None
        self.code=None
    def details(self,fname,lname,code):
        self.first_name=fname
        self.last_name=lname
        self.code=code
    def showdetails(self):
        print("Details Are")
        print('\nThe details are : ')
        print('First Name : ', self.first_name)
        print('Last Name  : ', self.last_name)
        print('Age        : ', self.code)

In [85]:
p1=Employee()

In [87]:
p1.details('liyakat','khan',23)
p1.showdetails()

Details Are

The details are :
First Name :  liyakat
Last Name  :  khan
Age        :  23

In [169]:
class Account:
    def __init__(self):
        self.first_name=None
        self.last_name=None
        self.account_num=None
        self.bal=None
    def details(self,fname,lname,acctnum,balance):
        self.first_name=fname
        self.last_name=lname
        self.account_num=acctnum
        self.bal=balance
    def credit(self,amount):
        self.bal+=amount
        print("Amount",amount,'was credited','and balance is :',self.bal)
    def debit(self,amount):
        self.bal-=amount
        print("Amount",amount,'was debited','and balance is :',self.bal)
    def total(self):
        print("Total balance is :",self.bal)
    c1

In [171]:
c1=Account()

In [173]:
c1.details("liyakat","khan",1234,0)

In [155]:
c1.credit(10000)

Amount 10000 was credited and balance is : 10000

In [175]:
amo=int(input('enter amount to credit'))
c1.credit(amo)
c1.total()

enter amount to credit 20000

Amount 20000 was credited and balance is : 20000
Total balance is : 20000

In [177]:
amo=int(input('enter amount to debit'))
c1.debit(amo)
c1.total()

enter amount to debit 10000

Amount 10000 was debited and balance is : 10000
Total balance is : 10000

## INHERITANCE

In [1]:
class Person:
    def __init__(self, fname, lname, age):
        self.firstname = fname
        self.lastname = lname
        self.age = age

    def printname(self):
        print(self.firstname, self.lastname, self.age)

class Student(Person):
    def __init__(self, fname, lname, age, grade):  # Include age in parameters
        # Pass fname, lname, and age to the parent constructor
        super().__init__(fname, lname, age)
        self.grade = grade  # Add grade attribute

    def show_grade(self):
        print(f"{self.firstname} is in grade {self.grade}")

# Create a Student object
x = Student("Mike", "Olsen", 23, "A")

x.printname()       # Output: Mike Olsen 23 (inherited method)
x.show_grade()      # Output: Mike is in grade A (Student-specific method)

Mike Olsen 23
Mike is in grade A