# Tuple
- Collection which can store elements of different data types
- created using `()` and elements are separated by `,`
- Tuples are like lists but they are immutable

In [2]:
a = (1,2,3)
type(a)

tuple

In [3]:
a[2] = 4                               # tuples are immutable

TypeError: 'tuple' object does not support item assignment

In [4]:
t = (1,2,3,4,5.5,6.5, 2,3, 'ABC', [1,2,3],(1,2,3), {1 : 2}, True)
t

(1, 2, 3, 4, 5.5, 6.5, 2, 3, 'ABC', [1, 2, 3], (1, 2, 3), {1: 2}, True)

In [5]:
t1 = (1,2,3)
t2 = (4,5,6)
t1 + t2

(1, 2, 3, 4, 5, 6)

In [6]:
t1 * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [7]:
t1 = (1,2,3,4,5,6,7,8,9)
t1

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [8]:
t1[0]

1

In [9]:
t1[2]

3

In [10]:
t1[8]

9

In [11]:
t1[-1]

9

In [12]:
t1[-1]

9

In [13]:
t1[::]

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [14]:
t1[::-1]

(9, 8, 7, 6, 5, 4, 3, 2, 1)

In [15]:
len(t1)

9

In [16]:
sum(t1)

45

In [17]:
max(t1)

9

In [18]:
min(t1)

1

In [19]:
# Tuple unpacking
(a,b,c) = (10,20,30)
print(a,b,c)

10 20 30

In [20]:
a,b,c = 10,20,30
print(a,b,c)

10 20 30

In [21]:
print(a,b)
a,b = b,a
print(a,b)

10 20
20 10

In [29]:
a,b,c = 10,20

ValueError: not enough values to unpack (expected 3, got 2)

# ===============================================

# Dictionaries
- Dictionaries are collections in python consisting `key-value` pairs
- Each key-Value is known as an `item`
- Dictionaries are defined using `{}`
- Dictionaries are indexable over their keys
- Dictionaries are mutable

In [30]:
d1 = {}
type(d1)

dict

In [11]:
d1 = {'k1' : 'v1', 'k2' : 'v2', 'k3' : 'v3'}
d1

{'k1': 'v1', 'k2': 'v2', 'k3': 'v3'}

In [32]:
len(d1)

3

In [33]:
d1[0]

KeyError: 0

In [34]:
d1['k1']

'v1'

In [35]:
d1['k2']

'v2'

In [36]:
emp1 = ['Pratik', 35, 'Male', 'Dehli']
emp2 = ['Ritesh', 25, 'Male', 'Hyderabad']
emp3 = ['Kavitha', 28, 'Female', 'Kolkata']
emp4 = [32, 'Amar','Jaipur','Male']

In [37]:
emp1[3]

'Dehli'

In [38]:
emp2[1]

25

In [39]:
emp4[3]

'Male'

In [3]:
emp1 = {'Name'   : 'Pratik',
        'Age'    : 35,
        'Gender' : 'Male',
        'City'   : 'Dehli'}

emp2 = {'Name'   : 'Ritesh',
        'City'   : 'Hyderabad',
        'Age'    : 25,
        'Gender' : 'Male'}

emp3 = {'Name'   : 'Amar',
        'Age'    : 35,
        'Gender' : 'Male',
        'City'   : 'Jaipur'}

In [9]:
emp1['Name']

'Pratik'

In [42]:
emp2['Name']

'Ritesh'

In [43]:
emp3['Age']

35

In [12]:
d1 = {"firstname":"ABC","lastname":"DEF","Age":23,"city":"LMN","firstname":"AABBCC"}
d1

{'firstname': 'AABBCC', 'lastname': 'DEF', 'Age': 23, 'city': 'LMN'}

In [44]:
# Which datatypes can be stored as values
d1 = {1 : 11, 2 : 'ABC', 3 : 5.5, 4 : [11,22,33], 5 : (44,55,66), 6 : {'ABC' : 'XYZ'}, 7 : True}
d1

{1: 11,
 2: 'ABC',
 3: 5.5,
 4: [11, 22, 33],
 5: (44, 55, 66),
 6: {'ABC': 'XYZ'},
 7: True}

In [45]:
d1[1]

11

In [46]:
d1[4]

[11, 22, 33]

In [47]:
d1[6]

{'ABC': 'XYZ'}

In [49]:
# Which data types can be used as keys
d1 = {1 : 11, 2.5 : 44, 'ABC' : 22, (1,2) : 33}
d1

{1: 11, 2.5: 44, 'ABC': 22, (1, 2): 33}

In [50]:
d1 = {[1,2,3] : 55}
d1

TypeError: unhashable type: 'list'

In [51]:
d1 = {{'A': 55} : 66}
d1

TypeError: unhashable type: 'dict'

In [53]:
marks = {'Maths' : 90, 'Physics' : 80, 'Chemistry' : 60}
marks

{'Maths': 90, 'Physics': 80, 'Chemistry': 60}

In [54]:
# If a value is assigned to an already existing key , the previous value is updated
marks['Chemistry'] = 70                       # Dictionaries are mutable
marks

{'Maths': 90, 'Physics': 80, 'Chemistry': 70}

In [55]:
# If a value is assigned to a new key, new key value pair will be added to the dictionary
marks['ML'] = 95
marks

{'Maths': 90, 'Physics': 80, 'Chemistry': 70, 'ML': 95}

## Dictionary Methods

In [1]:
emp_101 = {'Name' : 'Spongebob','Age' : 15, 'Gender' : 'Male', 'City' : 'Seaworld'}
emp_101

{'Name': 'Spongebob', 'Age': 15, 'Gender': 'Male', 'City': 'Seaworld'}

In [3]:
len(emp_101)

4

In [4]:
type(emp_101)

dict

In [7]:
emp_101.get('Name')

'Spongebob'

In [9]:
emp_101.get('Nameeeee')

In [13]:
emp_101['Nameeeee']

KeyError: 'Nameeeee'

In [60]:
emp_101.get('City')

'Seaworld'

In [61]:
emp_101.keys()

dict_keys(['Name', 'Age', 'Gender', 'City'])

In [62]:
emp_101.values()

dict_values(['Spongebob', 15, 'Male', 'Seaworld'])

In [63]:
emp_101.items()

dict_items([('Name', 'Spongebob'), ('Age', 15), ('Gender', 'Male'), ('City', 'Seaworld')])

In [64]:
emp_101.pop('Gender')

'Male'

In [65]:
emp_101

{'Name': 'Spongebob', 'Age': 15, 'City': 'Seaworld'}

In [69]:
d1 = {'name' : 'Nilesh', 'marks' : {'Maths': 90, 'Chemistry' : 95}, 'subjects' : ['Maths', 'Chemistry']}
d1['marks']['Maths']

90

In [75]:
d1['marks']['Maths']

90

In [77]:
d1['subjects'][0]

'Maths'

In [73]:
d2 = {'X' : 10, 'X' : 20}
d2['X']

20

# ================================================

# Sets
- A Set in Python is a collection of unique items (no duplicates) that is unordered and mutable (can be changed).

Key Features:
- Unordered: No index.
- No duplicates.
- Can store multiple data types.
- Mutable (you can add/remove items).

In [1]:
# A set is an unordered collection of unique elements
s = {1,2,3,4,5}
type(s)

set

In [78]:
s = set()
type(s)

set

In [82]:
s = {1,2,3,'ABC',4 ,5 ,'XYZ', 1.5}
s

{1, 1.5, 2, 3, 4, 5, 'ABC', 'XYZ'}

In [84]:
s = {1,2,3,4,2,3,4,5,6,5}
s

{1, 2, 3, 4, 5, 6}

In [85]:
s[0]

TypeError: 'set' object is not subscriptable

In [6]:
s1 = {1,2,3,4,5}
s1

{1, 2, 3, 4, 5}

In [8]:
s1.add(6)
s1

{1, 2, 3, 4, 5, 6}

In [10]:
s1.add(4)
s1

{1, 2, 3, 4, 5, 6}

In [89]:
s1.remove(4)
s1

{1, 2, 3, 5, 6}

In [90]:
names = ['John','Bob','Tom','Bob', 'John','Babulal','Rahul', 'Babulal']
unique_names = set(names)
unique_names

{'Babulal', 'Bob', 'John', 'Rahul', 'Tom'}

## Set Operations

In [171]:
a = {1,2,3,4,5,6,7}
b = {5,6,7,8,9,10}

In [4]:
s = {1, "hello", 3.14, (5, 6)}
s

{(5, 6), 1, 3.14, 'hello'}

In [172]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [173]:
a.intersection(b)

{5, 6, 7}

In [174]:
a.difference(b)

{1, 2, 3, 4}

In [176]:
b.difference(a)

{8, 9, 10}

In [177]:
a | b

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [178]:
a & b

{5, 6, 7}

In [179]:
a - b

{1, 2, 3, 4}

In [180]:
b - a

{8, 9, 10}

# ================================================

# Boolean

In [92]:
type(True)

bool

In [93]:
type(False)

bool

In [94]:
a = True
type(a)

bool

In [95]:
3 < 5

True

In [96]:
6 > 7

False

In [97]:
if True:
    print('Code is executing')

Code is executing

In [98]:
if False:
    print('Code is executing')

In [99]:
a = 7
b = 9
if b > a:
    print('b is larger')

b is larger

In [103]:
a = int(input('Enter the first number : '))
b = int(input('Enter the second number : '))

if a > b:
    print(a, 'is larger')
else:
    print(b, 'is larger')

Enter the first number : 30
Enter the second number : 20
30 is larger

# ================================================

# Type Conversion
- Changing one data type to another
- The data must be compatible

In [104]:
a = 5
b = 4.5
c = '123'
d = 'abc'
e = [1,2,3,4,5]
f = (6,7,8,9,5)
s = {3,4,5,6}

In [38]:
float(a)

5.0

In [194]:
int(b)

4

In [105]:
int(c)

123

In [106]:
float(c)

123.0

In [107]:
str(a)

'5'

In [108]:
str(b)

'4.5'

In [43]:
list(c)

['1', '2', '3']

In [44]:
list(d)

['a', 'b', 'c']

In [45]:
str(e)

'[1, 2, 3, 4, 5]'

In [46]:
tuple(e)

(1, 2, 3, 4, 5)

In [47]:
list(f)

[6, 7, 8, 9, 5]

In [48]:
str(f)

'(6, 7, 8, 9, 5)'

In [49]:
tuple(c)

('1', '2', '3')

In [50]:
set(c)

{'1', '2', '3'}

In [51]:
set(d)

{'a', 'b', 'c'}

In [52]:
set(e)

{1, 2, 3, 4, 5}

In [53]:
set(f)

{5, 6, 7, 8, 9}

In [54]:
list(s)

[3, 4, 5, 6]

In [55]:
tuple(s)

(3, 4, 5, 6)

In [109]:
d1 = {'name': 'Tom', 'age' : 25}
list(d1)

['name', 'age']

In [57]:
l1 = [1,2,3,4,5]
dict(l1)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

# Whats Next ?
- Chaining of comparison operations (Logical connectors)
- Conditional Statements
- Iterative Statements (Loops)
- Functions
- OOP in Python
- List comprehension, Exception Handling, File handling

In [1]:
my_dict = {"ABC": 123, "DEF": 456, "GHI": 789}
print(f"Before deletion: {my_dict}")

del my_dict["ABC"]
print(f"After deletion: {my_dict}")
# Example of KeyError:
try:
    del my_dict["XYZ"]
except KeyError:
    print("KeyError: 'XYZ' not found")

Before deletion: {'ABC': 123, 'DEF': 456, 'GHI': 789}
After deletion: {'DEF': 456, 'GHI': 789}
KeyError: 'XYZ' not found